/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

:root {
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;
}

a{
    text-decoration: none;
    padding: 0.5rem;
}

section{
    padding: 3rem 0;
}

/* debug */

#site_main{
    background-color: lightblue;
    height: 6000px;
    padding: 3rem 0;
}

.debug #site_footer{
    background-color: lightpink;
    height: 700px;
}


.debug .menù_left, .menù_rigth{
    height: 80%;
    width: 45%;
    align-items: center;
}
.debug .jumbotron{
    background-color: lightgreen;
    width: 98%;
    height: 600px;
    margin: auto;
}

.debug .container_big{
    background-color: lightsalmon;
    height: 500px;
}

.debug .container_med{
    background-color: lightsalmon;
    width: 70%;
    height: 500px;
    margin: auto;
    max-width: 1170px;
}

.debug .container_small{
    background-color: lightsalmon;
    width: 60%;
    height: 600px;
    margin: auto;
}

.debug .row{
    background-color: lightgoldenrodyellow;
    width: 98%;
    height: 90%;
    margin: auto
}

.debug .more_operations> .container_small> .row .col-4{
    height: 45%;
}

.debug .col{
    height: 98%;
    background-color: lightcoral;
    margin: 0;
    border: 1px dashed black
}

.debug .col-bottom{
    background-color: lightcoral;
    height: 100px;
    border: 1px dashed black
}

.debug .col-6{
    border: 1px dashed black
}

/* utilities */

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.d-wrap{
    flex-wrap: wrap;
}

.jc-s_bet{
    justify-content: space-between;
}

.jc-end{
    justify-content: end;
}

.py-4{
    padding: 2rem 2rem;
}

.list-unstyled{
    list-style: none;
}

.btn-primary{
    background-color: var(--drbx-accent);
    color: var(--drbx-white);
}

.col-2{
    width: calc(100% / 10* 2);
}

.col-3{
    width: calc(100% / 12* 3);
}

.col-4{
    width: calc(100% / 12* 4);
}

.col-6{
    width: calc(100% / 12* 6);
}

.col-8{
    width: calc(100% / 12* 8);
}

.col-bottom{
    width: 90%;
    margin: auto;
}

/* #region header */

#site_header{
    background-color: var(--drbx-white);
    position: sticky;
    top: 0;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 0 5px black;
}

nav a{
    color: var(--drbx-black);
}

.menù{
    align-items: center;
}

.menù_left, .menù_rigth{
    align-items: center;
}

/* #endregion header */

/* #region main */

h1{
    text-align: center;
}

/* #endregion main */

/* #region footer */


/* #endregion footer */